 <li id="post-<%= post._id %>"> 
        <p>
           <!-- view level check to only outhorized user can destroy the post -->
           <% if (locals.user && locals.user.id == post.user.id) { %>
           <small>
              <a class="delete-post-button" href="/posts/destroy/<%= post.id %>">x</a>
           </small>
           <% } %>
        <%= post.content%>
        <small>Created By: <%= post.user.name%></small>
        </p> 
   

    <div class="post-comments">
       <% if(locals.user) {%>
        <form action="/comments/create" method="POST">
          <input type="text" name="content" placeholder="Comment Please !" required>
          <input type="hidden" name="post" value="<%= post._id%>">
          <input type="submit" value="Place Comment">
        </form>
       <% } %>
       <div class="post-comment-list">
          <ul class="post-comment-<%= post._id%>">
            <% for (comment of post.comments) {%>
               <%- include('_comment') -%>
             
             <% } %>
          </ul>

       </div>

    </div>
 </li>